@use "vars";


header#main {
    display: flex;
    justify-content: center;
}

header#headerMenu {
    padding: 0 1rem;
    background-color: vars.$color_verde_oscuro;

    section nav{
        

        .submenu{
        left: 0;
        opacity: 0;
            position: absolute;
            top: 15px;
            visibility: hidden;
            z-index: 1;
        }

        li:hover ul.submenu{
                   visibility: visible;
                   opacity: 1;
                   top: 15px;
                   left: 0px;
                   right: 0px;
           background-color: vars.$color_verde_oscuro;
         
          display: flex;
          flex-direction: column;
         border-radius: 5%;
         

        }
        .submenu2{
            left: 0;
            opacity: 0;
                position: absolute;
                top: 15px;
                visibility: hidden;
                z-index: 1;
              background-color: vars.$color_verde_oscuro;
              
            }

            li:hover ul.submenu2{
                visibility: visible;
                opacity: 1;
                  top: 15px;
                    left: 0px;
                    right: 0px;
                    display: flex;
                    flex-direction: column;
                    border-radius: 5%;
                
     }
    }
    section:has(a) a{
        text-decoration: none;
        color: vars.$color_blanco;
       
        &:hover {
            color: vars.$color_verde_claro;
        }
    }

    h1{
        color: vars.$color_blanco;
    }

    section.nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
 

    img.imgPerfil{
        height: 80px;
        width: 80px;
        border: black solid 2px;
        border-radius: 50%;
    }

    h1{
        margin: 0 1rem;
    }

    img.logo{
        height: 90px;
        width: 90px;
        border-radius: 50%;
        margin: 20px;
    }
    div {
        display: flex;
        align-items: center;

    }

    nav {
        display: flex;
        justify-content: space-between;
      
        ul {
            display: flex;
            list-style-type: none;
            align-items: center;
            padding: 0;

            li {
                position: relative;
                margin: 2rem;

                a:hover {
                   color: vars.$color_verde_claro;  
                }
                
            }
        }

    
    }
    nav ul li{
        a{
            text-decoration: none;
            color: vars.$color_blanco;
        }
    }
    }
