@use "vars";


header#main {
    display: flex;
    justify-content: center;
}

header#headerMenu {
    padding: 0 1rem;
    background-color: vars.$color_verde_oscuro;

    section:has(a) a{
        text-decoration: none;
        color: vars.$color_blanco;

        &:hover {
            color: vars.$color_verde_claro;
        }
    }

    h1{
        color: vars.$color_blanco;
    }

    section.nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
 

    img.imgPerfil{
        height: 80px;
        width: 80px;
        border: black solid 2px;
        border-radius: 50%;
    }

    h1{
        margin: 0 1rem;
    }

    img.logo{
        height: 90px;
        width: 90px;
        border-radius: 50%;
        margin: 20px;
    }
    div {
        display: flex;
        align-items: center;

    }

    nav {
        display: flex;
        justify-content: space-between;
      
        ul {
            display: flex;
            list-style-type: none;
            align-items: center;
            padding: 0;

            li {
                position: relative;
                margin: 2rem;

                a:hover {
                   color: vars.$color_verde_claro;  
                }
                
            }
        }

        ul.submenu{
            transition: 1s;
            opacity: 0;
            visibility: hidden;
            flex-direction:column;
            position:absolute;
            top: calc((vars.$dimensiones_logo - 3.5rem )/2);
            left: 0;
            z-index:8;
        }

        ul li:hover ul.submenu{
            display: flex;
            visibility: visible;
            opacity: 1;
        }
    }
    nav ul li{
        a{
            text-decoration: none;
            color: vars.$color_blanco;
        }
    }
}