@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
//font-family: 'Roboto', sans-serif;

$padding_content : 1.25rem;
$color_verde_claro: #7ED957;
$color_verde_oscuro: #368216;
$color_negro: #000000;
$color_blanco: #FFFFFF;
$dimensiones_logo: 10rem;