@use "page";
@use "vars";
@use "header";
@use "footer";
@use "login";

main#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 4rem 0;
    background-color: rgb(245, 255, 245);

    form select#studentSelector {
        width: 30rem;
    }

    div#hoursCounter {
        display: flex;
        width: 30rem;
        justify-content: space-between;
    }

    table {
        background-color: vars.$color_blanco;
        border-collapse: collapse;

        thead {
            background-color: #d4d4d4;
        }

        tr td,
        th {
            border: solid 2px #000000;
            padding: 5px;
        }


        tr:nth-child(2n) {
            background-color: #E9E9E9;
        }

        tbody tr:hover {
            background-color: #3682164f;
        }

        &#students {



            tr td {
                width: 30rem;

            }
        }

        &#info {
            tr td:nth-child(2n+1) {
                text-align: right;
                background-color: rgb(245, 255, 245);
                border: 0;
            }

            tr td:nth-child(2n) {
                width: 40rem;
            }

            tbody tr:hover {
                background-color: #3682164f;
            }

            td {
                padding: 5px;
            }
        }

        &#dailies {

            tr td,
            th {
                padding: 0.5rem 1rem;
            }

            tr td a img {
                height: 16px;
            }
        }
    }

    form#addOrModify {
        display: flex;
        height: auto;

        div {
            &.labels {
                display: flex;
                flex-direction: column;
                text-align: right;

                label {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 30px;
                }
            }

            &.inputs {
                display: flex;
                flex-direction: column;

                input {
                    height: 24px;
                    padding: 1px;
                    width: 20rem;
                    margin-left: 1rem;
                }

                select {
                    margin-left: 1rem;
                    width: 20.4rem;
                    height: 30px;
                }

                textarea {
                    width: 20rem;
                    margin-left: 1rem;
                    resize: vertical;
                }
            }
        }
    }

    input#submitAddOrModify {
        margin: 1rem;
        padding: 0.5rem 1rem;
        width: 10rem;
        background-color: vars.$color_verde_claro;
        color: vars.$color_blanco;
    }

    input#submitAddOrModify:hover {
        background-color: vars.$color_verde_oscuro;
        color: vars.$color_blanco;
        cursor: pointer;
    }

    form#chooseModified {
        margin-bottom: 2rem;

        select {
            width: 31rem;
        }
    }

    form.newActivity {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;


            label,
            input,
            textarea {
                margin-bottom: 1rem;
                margin-right: 1rem;
            }

            textarea {
                resize: vertical;
            }

            div {
                display: flex;
                flex-direction: row;
                justify-content: left;
            }

            input.submit {
                margin-top: 1rem;
                height: 3vh;
                width: 6rem;
                background-color: vars.$color_verde_claro;



            }


            input.submit:hover {
                color: vars.$color_blanco;
                background-color: vars.$color_verde_oscuro;
                cursor: pointer;
            }

        }


    }

    #editModal {
        display: none;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }


    form.editActivity {
        max-width: 400px;
        margin: 7% auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: vars.$color_blanco;
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
            background-color: vars.$color_verde_oscuro;
            color: #fff;
            padding: 8px;
            border-radius: 5px;
            margin-bottom: 5px;
            width: 100%;
            text-align: center;
        }

        h2 {
            margin: 0;
            font-size: 1.5rem;
            color: vars.$color_negro;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
        }

        button {
            background-color: vars.$color_verde_claro;
            color: vars.$color_blanco;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            width: 100%;

            &:hover {
                background-color: vars.$color_verde_oscuro;
            }
        }

        input,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid;
            border-radius: 5px;
            box-sizing: border-box;
        }
    }




    a:has(h2) {
        text-decoration: none;
        color: #000000;

        h2:hover {
            color: vars.$color_verde_claro;
        }
    }
}