@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  --outline: solid #FF0000 1px;
}

body {
  font-family: "Roboto", sans-serif;
}

header#main {
  display: flex;
  justify-content: center;
}

header#headerMenu {
  padding: 0 1rem;
  background-color: #368216;
}
header#headerMenu section:has(a) a {
  text-decoration: none;
  color: #FFFFFF;
}
header#headerMenu section:has(a) a:hover {
  color: #7ED957;
}
header#headerMenu h1 {
  color: #FFFFFF;
}
header#headerMenu section.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#headerMenu img.imgPerfil {
  height: 80px;
  width: 80px;
  border: black solid 2px;
  border-radius: 50%;
}
header#headerMenu h1 {
  margin: 0 1rem;
}
header#headerMenu img.logo {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 20px;
}
header#headerMenu div {
  display: flex;
  align-items: center;
}
header#headerMenu nav {
  display: flex;
  justify-content: space-between;
}
header#headerMenu nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
}
header#headerMenu nav ul li {
  position: relative;
  margin: 2rem;
}
header#headerMenu nav ul li a:hover {
  color: #7ED957;
}
header#headerMenu nav ul.submenu {
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  top: 3.25rem;
  left: 0;
  z-index: 8;
}
header#headerMenu nav ul li:hover ul.submenu {
  display: flex;
  visibility: visible;
  opacity: 1;
}
header#headerMenu nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

footer {
  background-color: #368216;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  padding: 1rem;
}
footer div {
  flex: 1;
}
footer ul {
  flex: 1;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
footer ul li a {
  text-decoration: none;
  color: #7ED957;
}
footer ul li a:hover {
  color: #FFFFFF;
  text-decoration-line: underline;
}
footer div:has(small) {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100px;
}
footer div:has(small) small {
  margin: 3px;
}
footer p {
  padding: 30px 10x;
}
footer p a {
  text-decoration: none;
  color: white;
}
footer img.logo {
  width: 100px;
  height: 100px;
  padding: 18px;
  border-radius: 2rem;
}

header#main img {
  height: 10rem;
}

div#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35rem;
}
div#login form {
  display: flex;
  justify-content: center;
}
div#login form fieldset {
  display: flex;
  flex-direction: column;
  width: 25rem;
  border: 1.5px;
  border-style: inset;
  border-color: #000000;
  border-radius: 1rem;
}
div#login form fieldset label {
  margin: 2rem 3rem 0.5rem 3rem;
  padding-left: 1rem;
}
div#login form fieldset input {
  margin: 0rem 3rem 0 3rem;
  border-radius: 2.5rem;
  padding: 0.5rem 1rem;
}
div#login form fieldset input#submit {
  margin: 2rem 7rem 1rem 7rem;
  border-radius: 2.5rem;
  height: 3rem;
}

main#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 4rem 0;
  background-color: rgb(245, 255, 245);
}
main#content form select#studentSelector {
  width: 30rem;
}
main#content div#hoursCounter {
  display: flex;
  width: 30rem;
  justify-content: space-between;
}
main#content table {
  background-color: #FFFFFF;
  border-collapse: collapse;
}
main#content table thead {
  background-color: #d4d4d4;
}
main#content table tr td,
main#content table th {
  border: solid 1px #000000;
}
main#content table tr:nth-child(2n) {
  background-color: #E9E9E9;
}
main#content table tbody tr:hover {
  background-color: rgba(54, 130, 22, 0.3098039216);
}
main#content table#students tr td {
  width: 30rem;
}
main#content table#info tr td:nth-child(2n+1) {
  text-align: right;
  background-color: rgb(245, 255, 245);
  border: 0;
}
main#content table#info tr td:nth-child(2n) {
  width: 40rem;
}
main#content table#info tbody tr:hover {
  background-color: rgba(54, 130, 22, 0.3098039216);
}
main#content table#dailies tr td,
main#content table#dailies th {
  padding: 0.5rem 1rem;
}
main#content table#dailies tr td a img {
  height: 16px;
}
main#content form#addOrModify {
  display: flex;
  height: auto;
}
main#content form#addOrModify div.labels {
  display: flex;
  flex-direction: column;
  text-align: right;
}
main#content form#addOrModify div.labels label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
}
main#content form#addOrModify div.inputs {
  display: flex;
  flex-direction: column;
}
main#content form#addOrModify div.inputs input {
  height: 24px;
  padding: 1px;
  width: 20rem;
  margin-left: 1rem;
}
main#content form#addOrModify div.inputs select {
  margin-left: 1rem;
  width: 20.4rem;
  height: 30px;
}
main#content form#addOrModify div.inputs textarea {
  width: 20rem;
  margin-left: 1rem;
  resize: vertical;
}
main#content input#submitAddOrModify {
  margin: 1rem;
  padding: 0.5rem 1rem;
  width: 10rem;
}
main#content form#chooseModified {
  margin-bottom: 2rem;
}
main#content form#chooseModified select {
  width: 31rem;
}
main#content form.newActivity {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
main#content form.newActivity div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main#content form.newActivity div label,
main#content form.newActivity div input,
main#content form.newActivity div textarea {
  margin-bottom: 1rem;
  margin-right: 1rem;
}
main#content form.newActivity div textarea {
  resize: vertical;
}
main#content form.newActivity div div {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
main#content form.newActivity div input.submit {
  margin-top: 1rem;
  height: 3vh;
  width: 6rem;
}
main#content a:has(h2) {
  text-decoration: none;
  color: #000000;
}
main#content a:has(h2) h2:hover {
  color: #7ED957;
}/*# sourceMappingURL=style.css.map */