@use "page";
@use "vars";
@use "header";
@use "footer";
@use "login";

main#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 4rem 0;
    background-color: rgb(245, 255, 245);
    min-height: 55vh;

    form select#studentSelector {
        width: 30rem;
    }

    div#hoursCounter {
        display: flex;
        width: 30rem;
        justify-content: space-between;
    }

    table {
        background-color: #FFFFFF;
        border-collapse: collapse;

        thead {
            background-color: #d4d4d4;
        }

        tr td,
        th {
            border: solid 1px #000000;
        }

        tr:nth-child(2n) {
            background-color: #E9E9E9;
        }

        tbody tr:hover {
            background-color: #3682164f;
        }

        &#students {
            tr td {
                width: 30rem;
            }

            a {
                text-decoration: none;
                color: black;
            }
        }

        &#info {
            tr td:nth-child(2n+1) {
                text-align: right;
                background-color: rgb(245, 255, 245);
                border: 0;
            }

            tr td:nth-child(2n) {
                width: 40rem;
            }

            tbody tr:hover {
                background-color: #3682164f;
            }

        }

        &#dailies {

            tr td,
            th {
                padding: 0.5rem 1rem;
            }

            tr td a img {
                height: 16px;
            }
        }
    }

    form#addOrModify {
        display: flex;
        height: auto;

        div {
            &.labels {
                display: flex;
                flex-direction: column;
                text-align: right;

                label {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 30px;
                }
            }

            &.inputs {
                display: flex;
                flex-direction: column;

                input {
                    height: 24px;
                    padding: 1px;
                    width: 20rem;
                    margin-left: 1rem;
                    border-radius: 0.5rem;
                }

                select {
                    margin-left: 1rem;
                    width: 20.4rem;
                    height: 30px;
                    border-radius: 0.5rem;
                    border-color: black;
                }

                textarea {
                    width: 20rem;
                    margin-left: 1rem;
                    resize: vertical;
                    border-radius: 0.5rem;
                }
            }
        }
    }

    button {
        margin: 1rem;
        padding: 0.5rem 1rem;
        width: 10rem;
        border-radius: 1rem;
        background-color: rgb(255, 63, 63);

        &:hover {
            background-color: rgb(255, 0, 0);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }

    input#submitAddOrModify {
        margin: 1rem;
        padding: 0.5rem 1rem;
        width: 10rem;
        border-radius: 1rem;
        background-color: rgb(203, 255, 179);

        &:hover {
            background-color: rgb(101, 179, 68);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }

    form#chooseModified {
        margin-bottom: 2rem;

        select {
            width: 31rem;
        }
    }

    form.newActivity {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            label,
            input,
            textarea {
                margin-bottom: 1rem;
                margin-right: 1rem;
            }

            textarea {
                resize: vertical;
            }

            div {
                display: flex;
                flex-direction: row;
                justify-content: left;
            }

            input.submit {
                margin-top: 1rem;
                height: 3vh;
                width: 6rem;
            }
        }


    }

    a:has(h2) {
        text-decoration: none;
        color: #000000;

        h2:hover {
            color: vars.$color_verde_claro;
        }
    }
}